Yellow Belt Exam/index.html
Yellow Belt Exam/script.js
Yellow Belt Exam/style.css
Yellow Belt Exam/images/succulents-functionality.mp4
Yellow Belt Exam/images/succulentshop.png
Yellow Belt Exam/images/assets/aeonium-s.jpg
Yellow Belt Exam/images/assets/alert-dark.png
Yellow Belt Exam/images/assets/aloe-m.jpg
Yellow Belt Exam/images/assets/aloe-s.jpg
Yellow Belt Exam/images/assets/arrow-light.png
Yellow Belt Exam/images/assets/cactus-s.jpg
Yellow Belt Exam/images/assets/cart-dark.png
Yellow Belt Exam/images/assets/echeveria-s.jpg
Yellow Belt Exam/images/assets/leaf.png
Yellow Belt Exam/images/assets/search-dark.png
Yellow Belt Exam/images/assets/sedum-s.jpg
Yellow Belt Exam/images/assets/sempervivum-s.jpg
Yellow Belt Exam/images/assets/succulents-1.jpg
Yellow Belt Exam/images/assets/succulents-2.jpg
