* {
    margin: 0;
    padding: 0;
    font-family: comic sans ms, cursive;
}

.navbar {
    background-color: black;
    color: white;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.main {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.col1 {
    flex-grow: 3;
    line-height: 200%;
    margin-right: 20px;
}

.col2 {
    flex-grow: 2;
}

.usercard {
    background: linear-gradient(0deg, aliceblue 70%, #0085A3 30%);
    border: 5px solid #3D3D3D;
    padding: 30px;
    line-height: inherit;
}

.card {
    border: 5px solid #3D3D3D;
    line-height: inherit padding: 30px;
    margin-bottom: 20px
}

.cardhead {
    background-color: #3D3D3D;
    color: white;
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cardbody {
    padding: 10px;
}

button {
    background-color: #0085A3;
    color: white;
    padding: 5px;
    font-size: medium;
}

li {
    list-style: none;
}

.avatar {
    border-radius: 50%;
    border: 5px solid black;
    height: 100px;
}

.mini {
    height: 30px;
}

.icon-s {
    height: 15px;
}

.icon-m {
    height: 30px;
}

.actions {
    justify-self: flex-end;
}

.userlist {
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont {
    border-top: 5px solid #3D3D3D;
    font-size: medium;
    padding: 15px;
}

.icontext {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.notifbub {
    border-radius: 50%;
    background-color: lightslategrey;
    padding: 5px;
}

.link {
    text-decoration: underline;
    color: blue;
}

.bold {
    font-weight: bold;
}