.row {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.col,
.col-2,
.col-3 {
    background-color: cadetblue;
    color: aliceblue;
    border: 1px solid black;
    align-content: center;
    padding: 5px;
    justify-content: flex-start;
    margin: 10px;
}

.col {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.col-3 {
    flex-grow: 3;
}